body {
  width: 100%;
  font-family: arial;
}
.btn-warning {
  background-color: #d88e0c;
  border-color: #d88e0c;
}
button.btn {
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
}
p {
  text-align: center;
}
#all {
  margin: 0 auto;
  max-width: 1200px;
}
.title_bar {
  background-color: #28518f;
  height: 160px;
  position: relative;
}
.body {
  background-image: url('bg.png');
  position: relative;
  background-size: 1200px 900px;
  background-repeat: no-repeat;
}
.left_title_bit {
  width: 600px;
  position: absolute;
  color: white;
  left: 75px;
}
.left_title_bit .main_title {
  float: left;
  font-size: 40px;
  margin-top: 0.6em;
}
.left_title_bit .secondary_title {
  float: left;
  font-size: 20px;
  position: relative;
  bottom: 45px;
}
.right_title_bit {
  width: 300px;
  position: absolute;
  right: 90px;
  top: 55px;
}
.right_title_bit div {
  color: white;
  font-size: 30px;
  float: left;
}
.right_title_bit div:hover {
  cursor: pointer;
  color: #d88e0c;
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  margin: -5px -15px;
}
.right_title_bit .separator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.timer_bit {
  width: 260px;
  position: absolute;
  left: 90px;
  top: 35px;
  color: white;
}
.timer_bit .timer_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.timer_bit #timer {
  font-size: 34px;
  position: relative;
  top: 7px;
  left: 10px;
}
.timer_bit .top_time {
  font-size: 14px;
  text-align: left;
}
.timer_bit button.btn {
  padding: 10px 15px;
}
.opposite_score {
  margin: 0 auto;
  padding-top: 23px;
  width: 100px;
}
.opposite_score p {
  color: white;
  opacity: 0.6;
}
.score {
  width: 160px;
  position: absolute;
}
.score p {
  color: white;
}
.opposite_score p,
.left_score p,
.right_score p {
  font-size: 35px;
}
.right_score {
  right: 120px;
  top: 430px;
}
.right_score p {
  bottom: 34px;
  float: left;
}
.left_score {
  left: 120px;
  top: 430px;
}
.left_score p {
  bottom: 34px;
  float: right;
}
.rotate_right_icon,
.rotate_left_icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #28518f;
}
.rotate_right_icon:hover,
.rotate_left_icon:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}
.rotate_right_icon:hover .left_arrow,
.rotate_left_icon:hover .left_arrow {
  background-image: url('arrow-ol.png') !important;
}
.rotate_right_icon:hover .right_arrow,
.rotate_left_icon:hover .right_arrow {
  background-image: url('arrow-or.png') !important;
}
.rotate_right_icon div,
.rotate_left_icon div {
  width: 12px;
  height: 20px;
  position: relative;
}
.rotate_right_icon .left_arrow,
.rotate_left_icon .left_arrow {
  background-image: url('arrow-l.png');
  left: 18px;
  top: 15px;
}
.rotate_right_icon .right_arrow,
.rotate_left_icon .right_arrow {
  background-image: url('arrow-r.png');
  left: 21px;
  top: 15px;
}
.rotate_right_icon {
  float: right;
}
.rotate_left_icon {
  float: left;
}
.rotate_right_icon span {
  position: relative;
  top: 18px;
  left: 20px;
}
.rotate_left_icon span {
  position: relative;
  top: 18px;
  left: 19px;
}
.left_score p,
.right_score p {
  position: relative;
  opacity: 0.8;
}
#puzzle {
  width: 360px;
  margin: 0 auto;
  padding-top: 50px;
}
.top {
  background-image: url('top.png');
  width: 39px;
  height: 16px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
.puzzle_row {
  width: 360px;
  height: 60px;
  margin-top: 6px;
  z-index: 2;
}
.row_center_num {
  width: 100px;
  height: 66px;
  float: left;
  z-index: 2;
  position: relative;
  font-size: 45px;
}
.row_center_num span {
  position: relative;
  left: 25px;
  top: -1px;
}
.row_center_num .cube_top {
  background-image: url('cube_top.png');
  width: 100px;
  height: 6px;
}
.row_center_num .cube {
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50px 50px;
  -webkit-perspective: 600px;
  perspective-origin: 50px 50px;
  perspective: 600px;
  position: relative;
}
.row_center_num .cube .cube_back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.row_center_num .cube .transit {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}
.row_center_num .cube .cube_front,
.row_center_num .cube .cube_left,
.row_center_num .cube .cube_right,
.row_center_num .cube .cube_back {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_front {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.row_center_num .cube .cube_front.cube_front_R {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}
.row_center_num .cube .cube_front.cube_front_R.cube_right_R {
  display: none;
}
.row_center_num .cube .cube_front.cube_front_R.cube_right_L {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_front.cube_front_L {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}
.row_center_num .cube .cube_front.cube_front_L.cube_left_R {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_front.cube_front_L.cube_left_L {
  display: none;
}
.row_center_num .cube .cube_left {
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}
.row_center_num .cube .cube_left.cube_left_R {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.row_center_num .cube .cube_left.cube_left_R.cube_front_R {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}
.row_center_num .cube .cube_left.cube_left_R.cube_front_R.cube_right_R {
  display: none;
}
.row_center_num .cube .cube_left.cube_left_R.cube_front_R.cube_right_L {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_left.cube_left_R.cube_front_L {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_left.cube_left_L {
  display: none;
}
.row_center_num .cube .cube_right {
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
}
.row_center_num .cube .cube_right.cube_right_R {
  display: none;
}
.row_center_num .cube .cube_right.cube_right_L {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.row_center_num .cube .cube_right.cube_right_L.cube_front_R {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_right.cube_right_L.cube_front_L {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}
.row_center_num .cube .cube_right.cube_right_L.cube_front_L.cube_left_R {
  background-image: url('cube.png');
  width: 100px;
  height: 60px;
  position: absolute;
  border-radius: 3px;
  backface-visibility: hidden;
  transform-origin: 50px 50px -50px;
}
.row_center_num .cube .cube_right.cube_right_L.cube_front_L.cube_left_L {
  display: none;
}
.rotate_row_left_icon,
.rotate_row_right_icon {
  float: left;
}
.rotate_row_left_icon:hover,
.rotate_row_right_icon:hover {
  cursor: pointer;
}
.rotate_row_left_icon {
  margin-left: 20px;
  background-image: url("arrow-l.png");
  width: 12px;
  height: 20px;
  position: relative;
  top: 24px;
  left: 8px;
}
.rotate_row_left_icon:hover {
  background-image: url("arrow-ol.png");
}
.row_left_num {
  margin-left: 37px;
}
.row_center_num {
  margin-left: 27px;
}
.row_right_num {
  margin-left: 20px;
}
.rotate_row_right_icon {
  margin-left: 32px;
  background-image: url("arrow-r.png");
  width: 12px;
  height: 20px;
  position: relative;
  top: 24px;
  left: 8px;
}
.rotate_row_right_icon:hover {
  background-image: url("arrow-or.png");
}
.row_right_num,
.row_left_num {
  position: relative;
  top: 15px;
}
.row_right_num,
.row_left_num,
.row_left_num_R,
.row_left_num_L,
.row_right_num_R,
.row_right_num_L {
  color: white;
  opacity: 0.5;
  font-size: 30px;
  float: left;
}
.puzzle_base {
  background-image: url('base.png');
  width: 360px;
  height: 71px;
  position: relative;
  bottom: 21px;
  z-index: 1;
}
.puzzle_base p {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 30px;
}
.footer {
  width: 100%;
  height: 113px;
  background-image: url('table.png');
  position: relative;
  bottom: 82px;
}
.footer .scores_btn {
  position: absolute;
  left: 13%;
  top: 35px;
  padding: 10px 20px;
}
.footer .how_btn {
  position: absolute;
  right: 13%;
  top: 35px;
  padding: 10px 20px;
}
@-webkit-keyframes fadetoleft {
  0% {
    opacity: 0.5;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
    visibility: visible;
  }
}
@-webkit-keyframes fadefromright {
  0% {
    opacity: 0;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    opacity: 0.5;
    transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    visibility: visible;
  }
}
@-webkit-keyframes fadefromleft {
  0% {
    opacity: 0;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    opacty: 0.5;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    visibility: visible;
  }
}
@-webkit-keyframes fadetoright {
  0% {
    opacity: 0.5;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    visibility: visible;
  }
}
.fadeToLeft {
  animation: fadetoleft 0.5s;
  -webkit-animation: fadetoleft 0.5s;
  position: relative;
}
.fadeFromRight {
  animation: fadefromright 0.5s;
  -webkit-animation: fadefromright 0.5s;
  position: relative;
}
.fadeToRight {
  animation: fadetoright 0.5s;
  -webkit-animation: fadetoright 0.5s;
  position: relative;
}
.fadeFromLeft {
  animation: fadefromleft 0.5s;
  -webkit-animation: fadefromleft 0.5s;
  position: relative;
}
.row_left_num_R,
.row_left_num_L,
.row_right_num_R,
.row_right_num_L {
  position: relative;
  overflow: visible;
  width: 0;
  height: 0;
  top: 14.5px;
}
.row_left_num_R,
.row_right_num_R {
  left: 26px;
}
.row_right_num_L {
  left: -40px;
}
.row_left_num_L {
  left: -22px;
}
.INVIS {
  visibility: hidden;
}
._L,
._R {
  width: 0;
  height: 0;
  overflow: visible;
  position: relative;
  float: left;
}
.left_score ._L {
  left: 50px;
}
.left_score ._R {
  left: 170px;
}
.right_score ._L {
  right: 60px;
}
.right_score ._R {
  left: 3px;
}
.opposite_score ._L {
  left: -38px;
}
.opposite_score ._R {
  left: 82px;
  bottom: 120px;
}
.center_score ._L {
  right: 136px;
}
.center_score ._R {
  left: 214px;
  bottom: 72px;
}
#about_modal h4,
#howtoplay_modal h4 {
  font-size: 30px;
  padding: 5px 15px;
}
#about_modal .modal-body,
#howtoplay_modal .modal-body {
  padding: 20px 30px;
  text-indent: 25px;
}
#about_modal .modal-body p,
#howtoplay_modal .modal-body p {
  text-align: justify;
}
